.searchSection {
    background: url(/src/assets/images/searchBackground.png);
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchSectionFlightPage {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBarContainerFlightPage {
    border-radius: 5px;
    width: 100%;
    background-color: var(--contrast-color);
    padding: 0 1.5rem;
}

.searchBarContainer {
    padding: 0 1.5rem;
    border-radius: 5px;
    margin: 1rem;
}

.searchBarContainer, .departCityForm, .returnCity, .departDate, .returnDate, .traveller {
    background-color: var(--contrast-color);
}

.departCityForm {
    display: grid;
    grid-template-columns: 1fr 1fr .6fr .6fr .7fr;
}

.field {
    padding: 8px;
}

.fieldTitle {
    font-size: 2rem;
    color: var(--primary-color);
}

.fieldLabel {
    color: var(--primary-color);
}

.fieldSubTitle {
    color: var(--light-color);
}

.searchButton {
    border: 1px solid var(--secondary-color);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: bold;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #4E6F7B;
    background-color: #4E6F7B;
}

@media only screen and (max-width: 1100px) {
    .fieldTitle{
        font-size: 1.6rem;
    }
    .departCityForm{
        grid-template-columns: 1fr 1fr .8fr .8fr .8fr
    }
}

@media only screen and (max-width: 920px) {
    .fieldTitle{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 768px) {
    .fieldTitle{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .fieldTitle{
        font-size: 1.1rem;
    }

    .departCityForm{
        grid-template-columns: 1fr 1fr .6fr .6fr
    }
}

@media only screen and (max-width: 550px) {

    .departCityForm{
        grid-template-columns: 1fr 1fr .6fr
    }
}

@media only screen and (max-width: 460px) {
    .searchBarContainer{
        margin: 1rem .2rem;
    }
    .searchSection{
        height: auto;
    }
    .departCityForm{
        grid-template-columns: 1fr;
        grid-template-rows: auto
    }
    .departCity{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .returnCity{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .departDate{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .returnDate{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .traveller{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }
}

/* @media only screen and (max-width: 395px) {
    .searchBarContainer{
        margin: 0 .2rem;
        padding: 0 .4rem;
    }
    
} */