/*========================Profile========================*/
.customDropdown {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.customDropdown::-webkit-scrollbar {
    width: 8px;
}

.customDropdown::-webkit-scrollbar-track {
    background: transparent;
}

.customDropdown::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}

.menuOptions {
    padding-left: .4rem;
    color: black;
}

.menuOptions:hover {
    background-color: #EDF7FF;
    cursor: pointer;
    border-radius: 5px;
}


/*=========================================================================*/

.flightBottomDetailCard {
    background: #CAE4DB;
    padding: 25px 25px 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px
}

.ant-tabs .ant-tabs-ink-bar {
    background-color: var(--primary-color);
}

/*================================Fligth Schedule=====================*/

.flightSchedule{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*===================================================================*/

@media only screen and (max-width:1040px){
    .flightSchedule{
        flex-direction: column;
        gap: 1.5rem;

    }
}

@media only screen and (max-width:768px){
    .flightSchedule{
        flex-direction: row;
        gap: 0;

    }
}

@media only screen and (max-width:460px){
    .flightSchedule{
        flex-direction: column;
        gap: 1.5rem;

    }
}