.flightListContainer.smallScreen {
    display: none;
}

.detailCard,.roundTripDetailCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    background: white;
    padding: 1.5rem;
    height: 160px;
    box-shadow: 0px 4px 4px 0px rgba(17, 17, 17, 0.1);
}

.detailCard:hover{
   border:1px solid #4E6F7B;
}

.cardContainer {
    display: flex;
    gap: .5rem;
    width: 100%;
    height: 100%;
}

.radioButtonContainer {
    display: flex;
    align-items: center;
}

.radioButton {
    height: 20px;
    width: 20px;
}

input[type='radio'] {
    accent-color: var(--light-color);
}

input[type='radio']:hover {
    accent-color: var(--primary-color);
    cursor: pointer;
}

.flightInfoSection {
    width: 75%;
    border-right: 1px solid #F0F0F0;
    padding-right: .8rem;
}

.tagContainer {

    display: flex;
    align-items: center;
    justify-content: space-between
}

.flightDetailSection {
    width: 100%;
}

.flightImageSection {
    width: 48px;
    height: 48px;
}

.nameTime {
    display: flex;
    justify-content: space-between;
}

.flightNamesSection {
    display: flex;
    gap: .4rem;
    width: 100%;
}

.flightName, .flightTime, .flightCompany, .flightScheduled, .regularTitle {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1rem;
}

.flightRoute, .flightAgent, .regularPrice {
    color: var(--light-color);
}


.flightCompanySection {
    margin-top: .5rem;
}

.flightCompanyInfo {
    display: flex;
}

.flightPartener {
    display: flex;
    gap: .5rem;
}

.flightPrice {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
}


@media only screen and (max-width: 1100px) {
    .flightInfoSection, .flightPrice {
        width: 100%;
    }

    .flightInfoSection {
        border-right: none;
        padding-left: 0;
        border-bottom: 1px solid #F0F0F0;
        padding-bottom: .8rem;
    }

    .detailCard,.roundTripDetailCard {
        height: 270px;
    }

    .cardContainer {
        gap: 1rem;
        flex-direction: column;
    }

    .flightImageSection {
        width: 50px;
    }

    .fareSection {
        display: flex;
        gap: .5rem;
        align-items: flex-end;
    }

    .flightAgent{
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 880px) {

    .detailCard,.roundTripDetailCard {
        height: 330px;
    }

.flightNamesSection{
    flex-direction: column;
    align-items: center;
}

.flightName{
    text-align: center;
    width: 100%;
}

}



@media only screen and (max-width: 530px) {
    .flightName, .flightTime, .flightCompany, .flightScheduled, .regularTitle {
        font-weight: 500;
        color: var(--primary-color);
        font-size: .9rem;
    }

    .radioButtonContainer {
        margin-top: 1.2rem;
    }

    .nameTime {
        flex-direction: column;
    }

    .cardContainer {
        height: 250px;
    }

    .flightImageSection {
        width: 30px;
        height: 28px;
    }
}

@media only screen and (max-width: 520px) {
    .flightNamesSection {
        flex-direction: column;
    }

    .detailCard,.roundTripDetailCard {
        height: 290px;
        padding: .5rem;
    }

    .radioButtonContainer {
        margin-top: 0;
        margin-bottom: .5rem;
    }
}