.slick-slide img {
  margin: auto;
  width: 100%;
}

.searchSection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin: auto;
}