.slick-slide img {
  margin: auto;
  width: 100%;
}

.searchSection {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  position: relative;
  top: -30px;
  left: 0;
  right: 0;
  margin: auto;

}