/*------------------------POPULAR AIRLINE SECTION---------------------------------------*/

.airlineSection {
    padding: 1.2rem;
    margin: 2rem 0;
}

.airlineContainer {
    padding: 1.2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.airlineHeading {
    margin: 1.2rem 0 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
}

.airlinesList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.airlineTitle{
    color: (--dark-color);
}

/*------------------------POPULAR AIRLINE ITEM SECTION---------------------------------------*/

.itemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.airlineTitle {
    text-align: center;
    font-weight: bold;
}