* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #38e4f7;
    --secondary-color: #59e7f7;
    --light-color:#9de7f7;
    --dark-color: #3C424D;
    --contrast-color: #ffff;
    --bg-light-color:#e2e7f7;
}


body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

#root {
    height: 100%;
}

.no-padding .ant-modal-content {
    padding: 0;
}

.ant-space-item .ant-card-body {
    min-height: 150px !important;
    max-height: 150px !important;
}

.time {
    font-size: 20px;
}

.date {
    font-size: 14px;
    font-weight: 700;
}

.city {
    font-size: 16px;
    color: rgb(189, 189, 189);
}

.terminal {
    font-size: 13px;
}

.middle-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.right-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.ant-drawer-content.drawer-body {
    margin-left: calc(200px + 10%);
    width: calc(80% - 200px);
    border-radius: 20px 20px 0 0;
    padding: 0;
}

.inner-drawer-body {
    margin-left: calc(200px + 5%);
    width: calc(90% - 200px);
}

.middle .ant-card-meta-detail,
.middle .ant-card-meta-title {
    height: 100%;
}

/* hr.border {
    border: 1px solid darkgray;
    border-style: dotted;
    transform: rotate(90deg);
} */