/*============================HEADER==================================*/

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerButtons {
    border: 1px solid var(--secondary-color);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--primary-color);
}

.headerButtons.outlined {
    background-color: transparent;
}

.headerButtons.filled {
    background-color: var(--secondary-color);
}

.menuButton {
    display: none;
}

/*==============================================================*/


/*============================Layout Body==================================*/


.contentLayout {
    border-top-left-radius: 10px;
    background: var(--bg-light-color);
}

.siteLayout {
    background: white;
    margin-left: 200px;
    margin-top: 72px
}

.sideBarContainer, .hideSidebar {
    background-color: white;
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 10002;

}


/*============================FOOTER==================================*/
.footerContainer {
    background-color: var(--bg-light-color);
}

.footerSection {
    color: var(--contrast-color);
    background: var(--primary-color);
    padding: 1.5rem;
    margin: 0 1.5rem;
}


.footerHeading {
    color: white;
}

.flightLinks {
    color: var(--contrast-color);
    text-align: left;
    font-size: .92rem;
    cursor: pointer
}

.flightLinks:hover {
    color: rgb(194, 194, 194);
}

.socialLinksSection {
    display: flex;
    align-items: center;
    gap: 1rem
}

.linkUrl {
    display: flex;
    align-items: center;
    gap: .6rem
}

.linkText {
    font-size: .9rem;
    color: var(--contrast-color)
}

/*=============================================================================*/

/*============================Sidebar Menu Item==================================*/

.ant-menu .ant-menu-item {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 1rem;
    background-color: #7B9D94;
    padding: 1.7rem .7rem 1.7rem 0;
}

.ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title, .ant-menu-vertical .ant-menu-submenu-title {
    margin-inline: 0;
    margin-block: 10px;
    background-color: #7B9D94;
}

.ant-menu-light .ant-menu-item-selected, .ant-menu-item .ant-menu-item-active {
    background-color: #7B9D94;
    color: white;
}

/*=====================================================================================*/

@media only screen and (max-width: 1100px) {
    .footerSection {
        margin: 0 1rem;
        padding: 1.5rem 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .siteLayout {
        margin-left: 0;
    }

    .headerButtons{
        width: 80px;
        height: 35px;
    }

    .sideBarContainer {
        background-color: white;
        overflow: auto;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 200px;
        z-index: 10002;
        box-shadow: 0px 1px 4px 1px rgba(163, 163, 163, 0.4);
        transform: translateX(0);
        transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .sideBarmask{
        width: 100vw;
        height: 100vh;
        background-color: rgba(7, 7, 7, 0.5);
        position: relative;
        z-index: 1001;
        
    }

    .hideSidebar {
        transform: translateX(-100%);
        transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .menuButton {
        display: flex;
    }

    .flightLinks {
        font-size: .9rem;
    }

    .footerSection {
        margin: 0;
        padding: 1.5rem 1rem;
    }
    
}